#nav-bar{
    z-index: 100;
    position: absolute;
    top: 0;
    right: 1vw;
    height: 100vh;
    width: 2vw;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav-bar-wrapper{
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 0;
}

.nav-bar-button{
    background-color: transparent;
    border: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.nav-bar-button:hover{
    cursor: pointer;
}

.navButton-text{
    writing-mode: vertical-lr;
    color: white;
}

#nav_bar--github{
    writing-mode: vertical-lr;
}