#pageBody__projects{
    margin-top: 10vh;
    padding-bottom: 10vh;
}

.projectDisplay{
    border-bottom: 1px solid white;
}
.projectDisplayWrapper{
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
}
.projectDate{
    color: gray;
    text-align: right;
    flex-grow: 1;
}