#modBotProfile{
    height: auto;
}

@media (max-aspect-ratio: 3/4){
    #project4ImageWrapper{
        max-width: 100vw;
    }
}
@media (min-aspect-ratio: 3/4){
    #project4ImageWrapper{
        max-width: 30vw;
    }
}
