/*For the extra bits and pieces around.*/
/*Dots and lines*/
.dot{
    height: 2vh;
    width: 2vh;
    display: inline-block;

    border: 3px solid #e0bb00;
    border-radius: 50%;
}

.line{
    
}

/*Gradient border colour changes depending on mouse position?*/