/*Aspect Ratio Split*/
@media (max-aspect-ratio: 3/4){} /*<== Mobile orientation.*/
@media (min-aspect-ratio: 3/4){} /*<== Prefer desktop orientation.*/
/*
Also possible:
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3){}
*/


/*PROJECT MENU*/
@media (max-aspect-ratio: 3/4){
    #pageBody__projectBar{
        display: flex;
        flex-direction: row;
        width: 85%;
        height: auto;
        scroll-snap-type: x proximity;

        margin-bottom: 3vh;
        align-self: flex-start;
        overflow-y: hidden;
        overflow-x: auto;
        
        z-index: 10;
        
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    #pageBody__projectBar__headerWrapper{
        border-right: 4px solid white;
        margin: 0;
        margin-bottom: 2vh;
        padding-right: 2vw;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #pageBody__projectBar__header{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #mobileScrollInstructions{
        display: block;
        font-size: 1rem;
        color: gray;
    }
    #pageBody__projectBar__wrapper{
        overflow-x: scroll;

        display: flex;
        flex-direction: row;
        height: 20vh;
        
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .project-menu-button{
        width: auto;
        padding: 4%;
        margin-left: 2vw;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        white-space: nowrap;
    
        background-color: transparent;
        border: 1px solid white;
        border-radius: 0vh 3vh 0vh 3vh;
    
        color: white;
        font-size: 2rem;
        font-weight: 500;
        font-family: Garamond, monospace;
    }
    
    .project-menu-button:hover{
        border-style: solid double double solid;
        border-width: 1px 3px 4px 1px;
    }
    .project-menu-button:active{
        border-style: solid;
    }
}
/*Desktop Orientation*/
@media (min-aspect-ratio: 3/4){
    #pageBody__projectBar{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 15vw;
        z-index: 10;
        
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    #pageBody__projectBar__headerWrapper{
        border-bottom: 1px solid white;
        margin: 0;
        margin-bottom: 2vh;
        width: 100%;
    }

    #mobileScrollInstructions{
        display: none;
    }
    #pageBody__projectBar__wrapper{
        position: relative;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        width: 15vw;
        
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

    #pageBody__projectBar__header{
        width: 100%;
        text-align: center;
    }
    
    .project-menu-button{
        width: 13vw;
        padding: 4%;
        margin-bottom: 2vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    
        background-color: transparent;
        border: 1px solid white;
        border-radius: 0vh 3vh 0vh 3vh;

        overflow-wrap: break-word;
    
        color: white;
        font-size: 2rem;
        font-weight: 500;
        font-family: Garamond, monospace;
    }
    
    .project-menu-button:hover{
        border-style: solid double double solid;
        border-width: 1px 3px 4px 1px;
    }
    .project-menu-button:active{
        border-style: solid;
    }
}


/*NAVIGATION MENU*/
/*MOBILE ORIENTATION*/
@media (max-aspect-ratio: 3/4){
    #navMenu{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    
        box-sizing: border-box;
        height: 40vh;
        width: 5rem;
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}
/*DESKTOP ORIENTATION*/
@media (min-aspect-ratio: 3/4){
    #navMenu{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    
        box-sizing: border-box;
        height: 100vh;
        width: 5rem;
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

#navMenu__innerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 50vh;
}
.navMenuButton{
    color: gray;
    background-color: transparent;
    border: none;
    height: 10vh;

    transform: rotate(90deg);
    transition-duration: 0.1s;

    cursor: pointer;
    font-size: 1.5rem;
}
#navMenu__home{
    color: white;
}

a{
    color: gray;
    text-decoration: none;
}

#navMenu__home:hover{
    font-size: 1.7rem;
}
#navMenu__gmail:hover{
    font-size: 1.7rem;
}
#navMenu__linkedin:hover{
    font-size: 1.7rem;
}
#navMenu__github:hover{
    font-size: 1.7rem;
}

/*COPYRIGHT DIV*/
#copyright{
    position: absolute;
    bottom: 0;
    left: 3vw;

    z-index: 10;
}
.copyrightText{
    font-size: 1rem;
    line-height: 1rem;
}