.projectPage{
    display: none;
    position: relative;
    margin-right: 1%;

    height: 50vh;
    width: 100%;
    grid-template-areas:    "title"
                            "description";
    grid-template-rows: 1fr 5fr;

    transition: opacity 1s;
}

.projectTitleWrapper{
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.projectContentWrapper{
    grid-area: description;
}

.projectDate{
    font-size: 1rem;
    margin-right: 10%;
    padding-top: 0.75rem;
}

.projectLink{
    text-decoration: underline;
}