/*Mobile orientation*/
@media (max-aspect-ratio: 3/4) {
    .projectPage {
        display: none;
        position: relative;
        margin-right: 5vw;

        height: 60vh;
        width: 100%;
        grid-template-areas: "title"
            "description";
        grid-template-rows: 1fr 5fr;

        transition: opacity 1s;
    }

    .projectImageWrapperMain{
        display: flex;
        flex-direction: column-reverse;
    }
    .projectImageWrapper{
        display: flex;
        flex-direction: column;
    }

    .projectImageCaption{
        font-size: 1.75rem;
        line-height: 3rem;
    }

    .projectImage{
        max-width: 100%;
        height: auto;
    }
}

/*Desktop orientation*/
@media (min-aspect-ratio: 3/4) {
    .projectPage {
        display: none;
        position: relative;
        margin-right: 1%;

        height: 70vh;
        width: 100%;
        grid-template-areas: "title"
            "description";
        grid-template-rows: 1fr 5fr;

        transition: opacity 1s;
    }

    .projectImageWrapperMain{
        display: flex;
        flex-direction: row;
    }
    .projectImageWrapper{
        display: flex;
        flex-direction: row;
    }

    .projectImageCaption{
        margin-left: 5vw;
        font-size: 1.75rem;
        line-height: 3rem;
    }

    .projectImage{
        max-width: 50%;
        height: auto;
    }
}

.projectTitleWrapper {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projectContentWrapper {
    grid-area: description;

    overflow-x: hidden;
    overflow-y: scroll;
}

.projectTitle {
    max-width: 40vw;
    overflow-wrap: break-word;
}

.projectDate {
    font-size: 1rem;
    margin-right: 10%;
    padding-top: 0.75rem;
}

.projectLink {
    text-decoration: underline;
}